<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Django</title>
</head>
<header style="background-color: aqua;">
    <div style="text-align: center;">
        <ul style="list-style-type: none;padding-left: 0px">
            <p>
            {% for x in listmenu %}
                <a href="#"><li style="display: inline-block;padding: 10px 20px;">{{x}}</li></a>
            {% endfor %}
            </p>
        </ul>
    </div>
</header>
<body>
    <div style="text-align:  center;">
        <h1>{{ title }}</h1>
        <img src="{% static "images/clasics.png" %}" width="20%" alt="">
    </div>
</body>
</html>